.App {
  text-align: center;
}

a {
  text-decoration: none;
}

.button-text {
  color: black;
}




.nav-bar {
  height: 15%;
  border: solid black 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 20px;
}

.home-button {
  height: 80%;
  width: 100%;
  border: solid black 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-transform: none;
  color: black;
}


.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form-button {
  height: 180px;
  width: 180px;
  margin-top: 20px;
  background-image: url("https://lh3.googleusercontent.com/proxy/PgJnIOkfSL4B7OqfQCBjR_FS4OqaRXpuK1VVA2GyKi0TtYFeWtJTFP0TyVpaFYZNV8d2g7768TO5n3dYLen0TK400X5vYLZLy8Xa6Mf007332rWqgbY");
  background-size: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(1px 1px 2px  black);
}

.rounds-button {
  height: 180px;
  width: 180px;
  margin-top: 20px;
  background-image: url("https://lh3.googleusercontent.com/proxy/PgJnIOkfSL4B7OqfQCBjR_FS4OqaRXpuK1VVA2GyKi0TtYFeWtJTFP0TyVpaFYZNV8d2g7768TO5n3dYLen0TK400X5vYLZLy8Xa6Mf007332rWqgbY");
  background-size: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(1px 1px 2px  black);
}

.mission-button {
  height: 180px;
  width: 180px;
  margin-top: 20px;
  background-image: url("https://lh3.googleusercontent.com/proxy/PgJnIOkfSL4B7OqfQCBjR_FS4OqaRXpuK1VVA2GyKi0TtYFeWtJTFP0TyVpaFYZNV8d2g7768TO5n3dYLen0TK400X5vYLZLy8Xa6Mf007332rWqgbY");
  background-size: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(1px 1px 2px  black);
}


.round-of-golf {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}